.container
{
    width: 100%;
}
.container canvas
{
    width: 100% !important;
    height: 100% !important;
    /* max-width: 300px; */
    /* max-height: 350px !important; */
}
.container>h2
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.3rem;
}