.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(221, 221, 221);
    background-color: var(--white);
}

.container h2 {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    text-transform: capitalize;
}

.container h2 span {
    padding: 0.5rem;
    border-radius: 50%;
    /* background-color: red; */
}

.container h1 {
    font-size: 1rem;
}