.main_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
.case_overview_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--white);
    gap: 1rem;
    /* border: 1px solid var(--border-color); */
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 0px;
    overflow: auto;
    position: relative;
    width: 100%;
    padding:1rem;
  }

  .case_chart_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    margin-bottom: 2rem;
    overflow: auto;
    width: 100%;
    padding-block:2rem;
    max-width: 98%;
  }

  @media (max-width: 1200px) {
    .case_overview_container{
      grid-template-columns: repeat(2, 1fr);
    }
    .main_container {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media (max-width: 845px) {
    .case_overview_container {
      grid-template-columns: 1fr;
    }
  }

  /* @media (max-width: 1500px) {
    .case_overview_container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 760px) {
    .case_overview_container {
      grid-template-columns: 1fr;
    }
  } */
  
  /* For WebKit-based browsers (Chrome, Safari, Edge) */
  .case_overview_container::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Smooth transition */
  }
  
  .case_overview_container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners of the scrollbar thumb */
  }
  
  .case_overview_container::-webkit-scrollbar-track {
    background-color: transparent; /* Background color of the track */
  }
  
  /* Show scrollbar on hover */
  .case_overview_container:hover::-webkit-scrollbar {
    opacity: 1; /* Show scrollbar on hover */
  }
  
  /* For Firefox */
  .case_overview_container {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* Thumb color and track color */
  }
  
  .case_overview_container:hover {
    overflow: auto; /* Enable scrolling on hover */
  }
  
  .case_overview_container .container {
    padding-top:2rem !important;
  }