.main_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap:1rem;
}
.case_overview_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    border-radius: 10px;
    padding: 0px;
    overflow: auto;
    position: relative;
    width: 100%;
  }

  .case_chart_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: auto;
    width: 100%;
    text-align: center;
  }
  .case_chart_container>div:nth-child(2)
  {
    grid-column: span 2;
  }
  .case_chart_container>div{
    background-color: var(--white);
    padding:1rem;
    border-radius: .80rem;
    height: 100%;
  }


  @media (max-width: 1400px) {
    .case_overview_container{
      grid-template-columns: repeat(2, 1fr);
    }
    .main_container {
      grid-template-columns: repeat(1, 1fr);
    }
    .case_chart_container{
      margin-inline:0px;
    }
  }

  @media (max-width: 1300px) {
    .case_chart_container{
      max-width: 100%;
      margin-inline:0px;
    }
  }

  @media (max-width: 900px) {
    .case_chart_container{
      grid-column: span 1;
    }
    .case_chart_container>div:nth-child(1)
    {
      grid-column: span 3;
    }
    .case_chart_container>div:nth-child(2)
    {
      grid-column: span 3;
    }
  }

  @media (max-width: 840px) {
    .case_overview_container {
      grid-template-columns: 1fr;
    }
    .case_chart_container{
      max-width: 100%;
      margin-inline:0px;
      grid-column: span 1;
    }
  }

  /* @media (max-width: 1500px) {
    .case_overview_container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 760px) {
    .case_overview_container {
      grid-template-columns: 1fr;
    }
  } */
  
  /* For WebKit-based browsers (Chrome, Safari, Edge) */
  .case_overview_container::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Smooth transition */
  }
  
  .case_overview_container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners of the scrollbar thumb */
  }
  
  .case_overview_container::-webkit-scrollbar-track {
    background-color: transparent; /* Background color of the track */
  }
  
  /* Show scrollbar on hover */
  .case_overview_container:hover::-webkit-scrollbar {
    opacity: 1; /* Show scrollbar on hover */
  }
  
  /* For Firefox */
  .case_overview_container {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* Thumb color and track color */
  }
  
  .case_overview_container:hover {
    overflow: auto; /* Enable scrolling on hover */
  }hart-1
  
  .case_overview_container .container {
    padding-top:2rem !important;
  }

  .case_overview_container canvas {
   width:100px;
   height: 100px;
  }

  .alert_details_view
  {
    height: 100%;
    max-height: 800px;
  }
  .alert_details_view tbody td
  {
   word-break: break-all;
  }
  .alert_details_view tbody td:first-of-type
  {
    text-transform: capitalize;
  }


/* Container styling */
.container {
  max-width: 1200px;
  /* margin: auto; */
}

/* Alert container styling */
.alertContainer {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

/* Accordion button styling */
.accordionButton {
  background: #f4f4f4;
  border: none;
  padding: 1rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

/* Icon styling */
.icon {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

/* Accordion content styling */
.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 1rem;
}
.show {
  max-height: 50vh; 
  overflow: auto;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-block: 1rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

th {
  background: #f4f4f4;
}

.valueCell {
  color: #F48634;
}
