.container {
    width: 100%;
    height: 4rem;
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1rem;
<<<<<<< HEAD
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
=======
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
>>>>>>> 9a7af23c1c5c480dd6035cef1dc940ede65db4f8
}

.container>img {
    height: 3.5rem;
    margin-right: auto;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0;
    padding: 0;
}

.themeSwitcher {
    margin-left: auto;
}

.themeSwitcher button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}