.container {
    /* height: 200vh; */
    /* background-color: rgb(255, 255, 255); */
    /* padding: 1rem; */
    width: 100%;
}

.body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.body>div {
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid var(--border-box);
}

.assets_status_count_chart {
    grid-column: span 2;
}

.total_assets_count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-box);
    margin-top: 0.5rem;
    padding-inline: 0.8rem;
    border-radius: 0.5rem;
    background-color: var(--background-color);
    padding-block: 0.3rem;
    color: var(--text-color) !important;
}

.assets_table {
    grid-column: span 3;
}

.total_assets_count h1 {
    font-size: 1.4rem;
    color: var(--text-color);
}

.total_assets_count h2 {
    font-size: 1.2rem;
    color: var(--text-color);
}